<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
</head>
<body>
    <h3>sign in</h3>
    <form action="/login" method="post">
        <label for="">Email</label><br>
        <input type="email" name="email" id=""><br>
        <label for="">Password</label><br>
        <input type="text" name="password" id=""><br>
        <button type="submit">SignIN</button><br>
        </form>
        <form action="/signup" method="get">
        <button type="submit">
            Do not have an account
        </button>
        </form>
    
</body>
</html>